$bs-body-bg: #f4f2ee;
$bs-primary: #ffffff;
$bs-icon-hover: #191919;
$bs-icon: #3a3a3a;
$bs-button-hover: #e2f0fe;
$bs-button-text: #297acb;
$bs-round-button-hover: #ebebeb;
$bs-search-field: #edf3f8;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
